@model Oct12thMVCCMS.Models.CMS_Zones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CMS_Zones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zone_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone_ParentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone_ParentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone_Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone_Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone_Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone_Alias)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Zone_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
